* {
    /* height & width now includes border & padding */
    box-sizing: border-box;
    /* height: 100vh; */
  }

body {
    background-color: LightGray;
}

.puzzleWord {
    display: flex;
    align-items: center;
    flex-wrap: wrap ;
    gap: 2px;
}

.puzzleWordLetter {
    border: 1px solid black;
    /* padding:9px 5px; */
    width:60px;
    height: 65px;
    margin: 5px;
    font-size:3em;
    text-align: center;
    /* list-style-type: none; */
}

.buttonLetters {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap ;
}


button {
    background:lightgray;
    /* color:white; */
    border: solid 1px white;
    text-decoration:none;
    cursor:pointer;
    font-size:1.2em;
    padding:18px 10px;
    width:180px;
    margin: 10px;
    outline: none;
    border-radius: 5px;
    flex-shrink: 1;
}

.letter {
    padding:9px 5px;
    width:50px;
    margin: 5px;
}

button:hover {
    background: white;
    border: solid 1px  white;
    /* color:lightgray; */
}

#players {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

#player1, #player2 {
    flex-shrink: 3;
}

#hangManParent {
    width: 500px;
    height: 100%;
    margin: 0 auto;
    /* border: 1px solid black; */
}

img {
    margin: 0 auto;
    text-align: center;
    display: block;
}

.currentPlayer {
    font-weight: bold;
    color: green;
    font-size: 2em;
    border: 3px dashed black;
    padding: 5px;
}

.winner {
    font-weight: bold;
    color: blue;
    font-size: 4em;
    border: 3px dashed black;
    
}

.loser {
    font-weight: bold;
    color: red;
    font-size: 2em;
    border: 3px dashed black;
}

#wordHint {
    font-weight: bold;
    color: red;
}