* {
    /* height & width now includes border & padding */
    box-sizing: border-box;
  }

.puzzleWordLetter {
    border-bottom: 1px solid black;
    margin: 0 2px;
    /* list-style-type: none; */
}

#hangManParent {
    width: 500px;
    height: 100%;
    border: 1px solid black;
}
